.slideIn {
    animation: slideIn ease-in 1s;
  }

.slideOut {
    animation: slideOut ease-in 1s;
}

@keyframes slideIn {
    0% {
      top: 0vh;
    }
    100% {
      top: -100;
    }
  }

@keyframes slideOut {
    0% {
      top: 100vh;
    }
    100% {
      top: 0;
    }
  }